<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wcwy.system.mapper.SysRocketmqLogMapper">

    <resultMap id="BaseResultMap" type="com.wcwy.system.entity.SysRocketmqLog">
            <id property="operId" column="oper_id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="businessType" column="business_type" jdbcType="INTEGER"/>
            <result property="method" column="method" jdbcType="VARCHAR"/>
            <result property="requestMethod" column="request_method" jdbcType="VARCHAR"/>
            <result property="operName" column="oper_name" jdbcType="VARCHAR"/>
            <result property="operLocation" column="oper_location" jdbcType="VARCHAR"/>
            <result property="operParam" column="oper_param" jdbcType="VARCHAR"/>
            <result property="jsonResult" column="json_result" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="errorMsg" column="error_msg" jdbcType="VARCHAR"/>
            <result property="operTime" column="oper_time" jdbcType="TIMESTAMP"/>
            <result property="costTime" column="cost_time" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        oper_id,title,business_type,
        method,request_method,oper_name,
        oper_location,oper_param,json_result,
        status,create_time,error_msg,
        oper_time,cost_time
    </sql>
</mapper>
